*{
    margin: 0;
    padding: 0;
    font-family: 'Anek Malayalam', sans-serif;
}
/* navbar */
#logo {
    font-size: 25px;    
    text-shadow: 1px 1px 1px black;
}
#logo img{
    margin-bottom: 10px;   
}
#logo span{
    color: #fa26a2; 
    
}
.top-navbar{
	position: relative;
    background-color: #cad2d8;
}
.top-navbar .navbar{
	padding: 15px 0px;
	position: fixed;
	width: 100%;
	border-radius: 50px 50px 50px 50px;
	transition: height .3s ease-out, background .3s ease-out, box-shadow .3s ease-out;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
	z-index: 10;
}

.top-navbar .navbar-light .navbar-nav .nav-link{
	color: #070707;
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 60px;
	text-transform: uppercase;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover{
	background: rgb(248, 26, 92);
	color: #ffffff;
}
.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link{
	background: rgb(248, 26, 92);
	color: #ffffff;
	border-radius: 60px;
}

.navbar-light .navbar-toggler:hover{
	background: rgb(248, 26, 92);
}



/* end navbar */
/* search */
.search{
    height: 40px;
    width: 120%;
    border-radius: 10px;
    margin-right: -25px;
    margin-left: 50px;
    border: 2px solid rgb(7, 5, 6);;

}
.btn0{
    height: 40px;
    width: 50%;
    outline: none;
    border: none;
    background: rgb(248, 26, 92);
    color: white;
    border-radius: 40px;
    font-weight: 700;
}
/* end search */

/* home section */
.home{
   
    display: flex;
    align-items: center;
    height: 100vh; 
    background-position: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;  
    background-color: #b7cada;
}

.home .img{
    flex: 1 1 300px;
}
.home .img img{
    width: 80%;
    
}
.home .content{
    flex:1 1 300px;
}
.content h3{
    margin-left: 130px;
    font-size: 35px;
    text-shadow: 1px 1px 1px black;
}
.content h3 span{
    color: rgb(248, 26, 92);
}
.content p{
    margin-left: 130px;
    color: #161616;
}
    @media screen and (max-width:667px), (max-width:1024px){
         .content h3{
            margin:130px 0 0  30px; }
        .content p{
                margin-left: 30px;
                }
        .home .img img{
         margin-top: 0px;
         width: 90%;
                }        
    }


.content .btn{
    margin-left: 130px;
    width: 100px;
    height: 35px;
    background-color: rgb(248, 26, 92);
    color: white;
}
/* home section */


/* Top Section Start */
.top-section{
    padding: 10px 100px;
    margin-top: 10px;
}
.top-section h5{
    color: rgb(248, 26, 92);
    text-align: center;
    font-weight: 100;
}
.top-section h3{
    color: black;
    text-align: center;
    font-weight: 600;
}
.top-section .row{
    margin-top: 30px;
    align-items: center;
}
.top-section .row .card{
    border: none;
}
.top-section .row .card img{
    width: 200px;
    margin: auto;
}
.top-section .card-body{
    text-align: center;
}
.top-section .card-body h1{
    font-size: 25px;
    font-weight: 600;
}
/* Top Section End */

/* Our Dishes Strat */
.Dishes{
    padding: 100px 11% 100px;
}
.Dishes h3{
    text-align: center;
    color: #e53937;
}
.Dishes h2{
    text-align: center;
    color: black;
    font-weight: 600;
}
.Dishes h2 i{
    color: #e53937;
}
.Dishes h6{
    font-size: 16px;
}
.star i{
    color: orange;
    font-size: 13px;
}


.Dishes p{
    margin-top: 5px;
    font-weight: bold;
}
.Dishes p i{
    float: right;
    color: #e53937;
    cursor: pointer;
}
/* Our Dishes End */

/* menu */
#menu{
    background-color: #f5c9c947;
    margin-top: 5px;
    border-radius: 60px;
    box-shadow: 0 0 5px black;
}
#menu h1{
    color:  #e53937;
    margin-top: 50px;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid  #e53937;
}
.container .row{
    margin-top: 50px;
}
#menu p img{
    border-radius: 30px;
    width: 50px;
}
#menu p{
    margin-top: 30px;
}
#menu p span{
    color:  #e53937;
    font-size: 20px;
}
/* menu */
